.root {
  display: flex;
  flex-direction: column;
}

.header h1 {
  margin-top: 0px;
}

 .history {
  display: flex;
  flex-direction: column;
} 

.rows {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.row {
  margin-top: 1em;
}

.row th {
  border: 0.2em solid rgb(241, 171, 78);
}

.button {
  position: absolute;
}

.result img {
  height: 45pt;
}
