.box {
    border: 1px solid black;
    width: 7em;
    height: 7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
}

.listOfCities {
    display: flex;
    justify-content: center;
}